h4 StudentList
ul.list-unstyled
	li(ng-repeat="student in students").
		{{student.id}}. {{student.name}}</a> →
		$index: {{$index}},
		$first: {{$first}},
		$middle: {{$middle}},
		$last: {{$last}}

button.btn.btn-xs.btn-default(type="button" ng-click="insertTom()") 삽입하기