h4 ToggleMenu
div
  button.btn.btn-xs.btn-default(ng-click="toggleMenu()") 메뉴 On / Off
  ul(ng-show="showMenu")
    li(class="menu-disabled-{{isDisabled}}" ng-click="stun()") 기절시키기
    li(ng-click="disintegrate()") 분해하기
    li(ng-click="erase()") 역사에서 지우기